*,*::before,*::after {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.acceui_logo {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acceui_logo img {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.acceuil_nav1 {
    display: flex;
    margin-left: 40px;
}

.acceuil_nav2 {
    margin-right: 40px;
}

.acceuil_nav1 ul, .acceuil_nav2 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 75px;
    
}

.acceuil_nav1 a, .acceuil_nav2 a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 20px;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
}

main div {
    width: 100%;
    height: 100%;
}

main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}