*,*::before,*::after {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    background-color: #292D2F;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 130px;
}

.acceui_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.acceui_logo img {
    max-width: 200px;
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 12px 0;
}

.acceuil_nav1 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 60px;
}

.acceuil_nav2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

.acceuil_nav1 ul, .acceuil_nav2 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 75px;
    
}

.acceuil_nav1 a, .acceuil_nav2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}

main {
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
    background-color: #f0f0f0;
    position: relative;
}

main div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}